:root {
  --bg: #121212;
  --card: #1E1E1E;
  --input: #181818;
  --border: #2A2A2A;

  --text: #EDEDED;
  --text-muted: #A1A1AA;

  --primary: #3B82F6;
  --primary-hover: #2563EB;

  --success: #22C55E;
  --danger: #EF4444;
}

.container {
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card {
  width: 100%;
  background: var(--card);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

h1, h2, h3 {
  color: var(--text);
}

input, select, textarea{
  width: 100%;
  background-color: var(--input);
  color: var(--text);
  font-weight: 500;
  padding: 0.5rem;
  border: 1px solid var(--border);
  resize: none;
}

input:focus{
  border: 1px solid var(--primary);
  outline: none;
}

textarea:focus{
  border: 1px solid var(--primary);
  outline: none;
}

input[type="date"]{
  padding-left: 0.5rem;
}

button {
  width: 100%;
  padding: 10px;
  background: var(--primary);
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: var(--primary-hover);
}

.toggle {
  margin-bottom: 15px;
}

.item {
  border-bottom: 1px solid var(--border);
  padding: 10px 0;
  color: var(--text-muted);
  position: relative;
}

.item strong {
  color: var(--text);
}

.edit{
  background-color: transparent;
  border: 2px solid var(--primary);
  position: absolute;
  width: fit-content;
  right: 1rem;
  bottom: 0.5rem;
}

.textServicoPeriodo, .textServicoVazio{
  color: var(--text-muted);
}