*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

/* body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

input, select, textarea, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.toggle {
  margin-bottom: 15px;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
} */